body{
  font-family: "Microsoft YaHei","宋体","黑体",sans-serif;
  background:#ffffff;
  color:#505050;
}
body{ overflow-x: hidden;}
*{
  color:#505050;
}
button,a{
  text-decoration: none !important;
  filter:chroma(color=#000000);
  outline:none !important;
  cursor:pointer;
}
ul{
  list-style:none;
  padding:0;
  margin:0
}
.row{
  margin-left:-10px;
  margin-right:-10px;
}
.container{
  padding-left:10px;
  padding-right:10px;
}
.header-bar{
  height:94px;
}
.school-logo{
  overflow:hidden;
  float:left;
  width:390px;
  position: relative;
  height: 98px;
}
header .school-logo{
  height: 94px;
}
.school-logo>img{
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.school-logo>img:last-child{
  margin-left:20px;
}
.login{
  float: right;
  background: #ff931f;
  border: 1px solid #ff931f;
  padding: 5px 10px;
  color: white !important;
  margin-top: 28px;
  vertical-align: middle;
  font-size: 14px;
  width: 80px;
  height: 38px;
  box-sizing:border-box;
}
.login img{
  height:18px;
  width:18px;
  margin-right:5px;
}
.login span{
  vertical-align: middle;
  color:white;
}
.older-web{
  margin-top:30px;
  margin-right:7px;
  color:white;
  padding:5px 10px;
  vertical-align: middle;
  font-size:14px;
  border:1px solid #ff931f;
  background: #ff931f;
  border-radius: 4px;
}
.celebration{
  background:#2D68CC
}
.older-web img{
  width:17px;
  height:17px;
  margin-right:5px;
}
.older-web span{
  vertical-align: middle;
  color:white;
}
.menu-list-con{
  overflow:hidden;
  position:absolute;
  height:500px;
}
.menu-list-con>li:last-child{
  width:150px;
}
.menu-list-con>li:last-child a{
  width:150px;
}
.menu-list-con>li:last-child .more-menus{
  width:150px;
}
.menu-list-con>li:last-child .more-menus-list>li{
  width:150px;
}
.dropdown-menu{
  background:#ff931f;
  border:0;
  margin-top:0 !important;
  padding:0;
  min-width:130px;
  border-radius:0;
}
.dropdown-menu li a:hover{
  background:#ff931f;
}
.dropdown-menu li a{
  color:white;
  padding:12px 0;
  text-align: center;
  color:white;
}
.dropdown-menu li a span{
  color:white;
}
.menu-list-con:hover{
  height:1000px;
}
.menu-list-con>li{
  float:left;
  width:105px;
  text-align: center;
  color:white;
  transition: background .2s;
  -moz-transition: background .2s;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  position:relative;
  height:44px;
  margin:0 -1px;
}
.menu-list-con>li>a{
  display:block;
  color:white;
  font-size: 16px;
  height: 44px;
  line-height: 44px;
}
.menu-list-con>li>a>span{
  display:block;
  color:white
}
.menu-list-con>li:hover{
  background:#ff931f;
  cursor: pointer;
  transition: background .2s;
  -moz-transition: background .2s;
  -webkit-transition: background .2s;
  -o-transition: background .2s;

}
.menu-list-con>li:last-child a>span{
  border-right:none;
}
.more-menus{
  display:none;
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  left: 0;
  top: 44px;
  z-index: 100;
  width: 105px;
  overflow: hidden;
}
.dropdown a i{
  color:white;
  margin-left:5px;
}
.menu-list-con>li:hover .more-menus{
  display:block;
}
.more-menus-list{
  padding-top:5px;
  padding-bottom:5px;
}
.more-menus-list>li{
  width:105px;
  padding:6px 0;
}
.more-menus-list>li:hover{
  background: rgba(0,0,0,.6);
}
.more-menus-list>li:hover a{
  color:#ff931f;
}
#right-menu{
  -webkit-overflow-scrolling : touch;
}
#right-menu .more-menus-list>li:hover{
  background: #ff931f !important;
}
#right-menu .more-menus-list>li:hover a{
  color:#fff;
}
.more-menus-list>li a{
  color:#fff;
  width:100%;
}
.more-menus-list>li a:hover{
  text-decoration: none;
}
.san {
  position: relative;
  top:-10px;
  left:12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 10px 7px;
  border-color: transparent transparent #999 transparent;
}
.san::before {
  position: absolute;
  content: '';
  top: 1px;
  left: -6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 9px 6px;
  border-color: transparent transparent #ffffff transparent;
}
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item img{
  width:100%;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.swiper-container-horizontal>.swiper-pagination-bullets{
  padding-right: 10px;
}
.swiper-wrapper .swiper-slide{
  height:322px;
}
.swiper-button-next, .swiper-button-prev{
  width:30px;
  height:43px;
  background:rgba(0, 0, 0, 0.24);
  text-align: center;

}
.swiper-button-next i, .swiper-button-prev i{
  font-size:40px;
  color:white;

}
.swiper-button-next{
  right:0;
}
.swiper-button-prev{
  left:0;
}
.more-info{
  position:absolute;
  bottom:0;
  width:100%;
  background:rgba(0, 0, 0, 0.65);
  color:white;
  padding:12px 6px;
  font-size:14px;
  height:44px;
  left:0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.swiper-pagination{
  text-align: right
}

.swiper-pagination-bullet{
  background:white;
  opacity:1;
  border-radius:4px;
  width:8px;
  transition: width .3s;
  -moz-transition: width .3s;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
}
.swiper-pagination-bullet-active{
  background:#ff8c1f;
  width:20px;
  transition: width .3s;
  -moz-transition: width .3s;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
}
.module-title span{
  font-size:25px;
  color:white;
  font-weight: normal;
  padding:0 4px;
  margin-right:10px;
  width:30px;
  display:inline-block;
  text-align: center
}
.module-title .yellow{
  background: #ff931f;
  display: inline-block;
  height: 16px;
  width: 5px !important;
}
.module-title .blue{
  background:#ff931f;
}
.module-title .red{
  background:#6f2b28;
}
.module-title{
  border-bottom:1px solid #dadddf;
  height:39px;
  font-size:15px;
  padding-bottom:5px;
  line-height:33px;
  font-weight:bold;
  vertical-align: middle;
  margin:20px 0;
}
.latest-news{
  background:white;
  padding:0 15px;
  overflow:hidden;
}

.latest-news .news-title .title{
  background:#ff8c1f;
  padding:10px 30px;
  font-size:16px;
  color:white;
}
.latest-news .news-title button{
  background:#ff931f;
  padding:3px 17px;
  font-size:12px;
  border-radius:15px;
  color:white;
  outline:none !important;
  position: absolute;
  bottom: 0;
  right:0;
}
.latest-news .news-title {
  overflow:hidden;
  vertical-align: bottom;
  height:42px;
  margin-left:-15px;
  margin-top:15px;
  position: relative;
}
.news-list{
  margin:15px 10px 18px 5px;
}
.news-list li{
  width:100%;
  margin:13px 0;
}
.news-list li a{
  font-size:14px;
  display:inline-block;
  color:#505050;
  cursor: pointer;
  text-decoration: none !important;
  width:80%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.news-list li a:hover{
  color:#ff8c1f
}
.info-list{
  padding:4px 0;
}
.news-list li a i,.info-list li a i{
  color: #ababab;
  margin-right: 8px;
  position: relative;
  font-size: 12px;
  top: -1px;
}
.news-list li span{
  float:right;
  color:#a6a6a6;
}
.more-info-con{
  margin-top:35px;
  background:white;
}
/* .more-info-con ul{
	padding-bottom:7px;
} */
.more-info-con .title{
  border-top:2px solid #ff931f;
  border-bottom:1px solid #dddddd;
  padding:10px;
  font-size:16px;
  font-weight:bold;
  color:#ff931f
}
.more-info-con .title button{
  padding:0;
  background:none;
  float:right;
  outline:none;
  color:#999999;
}

.more-info-con .info-list li a{
  display:inline-block;
  color:#505050;
  cursor: pointer;
  text-decoration: none !important;
  width:100%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.more-info-con .info-list li a:hover{
  color:#ff8c1f
}
.more-info-con .info-list li{
  margin:8px 0;
  padding:0 10px;
}


.media-left{
  width:118px;
  height:84px;
  overflow:hidden;
  padding-right:0;
  display: block;
  float:left;
}
.more-info-title{
  display:block;
  padding:7px 0;
  color:#ff931f;
  font-size:15px;
  height:35px;
  line-height:27px;
  overflow:hidden;
  cursor:pointer;
}
.info-detail{
  height:40px;
  overflow:hidden;
  margin:0;
}

.media-body{
  padding:0 15px;
  display:block;
  margin-left:118px;
  width:auto;
  height:84px;
}
.media-list{
  padding:15px;
}
.media-list .media{
  margin-bottom:15px;
}
.media-list .media:last-child{
  margin-bottom:0;
}
.school-edu-list{
  overflow:hidden;
}
.edu-blue{
  background:#ff931f
}
.edu-blue .edu-info span{
  background:#5298db;
}
.edu-brown{
  background:#6c341c
}
.edu-brown .edu-info span{
  background:#935a42
}
.edu-yellow{
  background:#e4b035
}
.edu-yellow .edu-info span{
  background:#f6c368
}
.edu-red{
  background:#dc4439
}
.edu-red .edu-info span{
  background:#e86157
}
.edu-con{
  width:23%;
  margin:0 1%;
  padding:10px;
  overflow:hidden;
  float:left;
  text-align:center;
}
.edu-con:hover{
  cursor:pointer;
}
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.news-intr div{
  height:50px;
  color: #a6a6a6;
}
/*pc端*/
@media screen and (min-width: 768px){
  .news-intr .time{
    height: 40px;
  }
  .news-title .news-info li{
    margin-right: 20px;
  }
  .news-title .news-info li:last-child{
    margin-right: 0;
  }
  .swiper-wrapper .swiper-slide .more-info{
    padding-right: 200px;
    padding-left: 10px;
  }
  .sh-address,.record-number {
    display: inline !important;
    width: auto !important;
  }
  .edu-con .edu-img{
    float:left;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
/*手机端*/
@media screen and (max-width: 768px){
  .news-intr p{
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #333 !important;
  }
  .more-info{
    height: 36px;
    padding: 8px;
    font-size: 15px;
    color: #f6f6f6;
  }
  .swiper-wrapper .swiper-slide .more-info{
    padding-right: 100px;
  }
  .swiper-pagination-bullet{
    width: 6px;
    height:6px;
  }
  .swiper-pagination-bullet-active{
    width: 15px;
  }
  .news-list li a i:before{
    content:'';
  }
  .news-list li a i{
    display: inline-block;
    width: 8px;
    height: 9px;
    background: url(../../static/images/arrow.png) no-repeat center;
    background-size: 100%;
    margin-right: 6px
  }
  .img-cover {
    bottom: 15px !important;
    height: 27px !important;
    line-height: 27px !important;
    font-size: 14px !important;
  }
  .news-title p {
    font-size: 19px !important;
    line-height: 20px !important;
    letter-spacing: 0 !important;
    color: #323232 !important;
  }
  .news-title .news-info li, .news-title .news-info span {
    font-size: 13px !important;
    line-height: 20px !important;
    color: #999 !important;
  }
  .news-content {
    font-size: 15px !important;
    line-height: 25px !important;
    color: #666 !important;
    text-indent: 30px !important;
  }
  .publish-date,.visist-times{
    display: inline-block !important;
  }
  .announcement .news-date p:last-child {
    font-size: 11px !important;
    color: #999 !important;
  }
  .news-list li a {
    font-size: 16px !important;
    color: #323232;
  }
  .col-sm-6{
    width: 100% !important;
  }
  .sh-imgs .hidden-xs{
    display:none !important;
  }
  .sh-imgs{
    padding-top: 0 !important;
  }
  .img-title {
    font-size: 17px !important;
    color: #323232 !important;
  }
  .inner,.outer{display: none;}
  .img-no{
    font-size: 13px !important;
    color:#999 !important;
  }
  .img-no .fa{
    color: #a6a6a6 !important;
  }
  .img-list{
    display: block !important;
  }
  .img-list li{
    width:100% !important;
    float: none !important;
    display: inline-block;
    margin-bottom: 10px !important;
    padding: 15px !important;
    padding-bottom: 0 !important;
  }
  .all-news-list{
    padding:0 20px !important;
  }
  .all-news-list1{
    padding:0 15px !important;
    background-color: #f3f3f3;
  }
  .news-content p{
    line-height: 28px;
  }
  .news-content div{
    display:inline;
  }
  .news-content img{
    width: 100% !important;
    height:200px !important;
    margin-bottom: 20px;
  }
  .all-news-list{
    background: #fff;
  }
  footer p{
    line-height: 20px !important;
  }
  .sh-app{
    overflow: hidden;
    background-color: #f3f3f3;
    padding: 0 12px;
  }
  .sh-app li{
    background-color: #fff;
    border-radius: 10px;
    margin-left: 3%;
    margin-bottom: 10px;
    width:31% !important;
    padding: 5px !important;
    padding: 10px !important;
  }
  .sh-app li p{
    width: 85px !important;
    font-size: 13px !important;
  }
  .sh-app li p:last-child{
    height: 30px;
    line-height: 15px;
    margin: 0 auto;
  }
  .sh-app li:nth-child(1),.sh-app li:nth-child(4){
    margin-left: 0;
  }
  .news-list li span{
    font-size: 13px;
  }
  .news-list li a i, .info-list li a i{
    color: #ff931f !important;
  }
  .news-list {
    padding: 10px;
    margin: 0;
  }
  .more-info-con{
    margin-top: 0;
  }
  .announcement{
    padding: 15px 0;
  }
  .announcement .news-date p:first-child{
    font-size: 20px !important;
    color: #999 !important;
  }
  .announcement .news-item{
    margin-bottom: 15px;
  }
  .announcement .news-item:last-child{
    margin-bottom: 0;
  }
  .announcement .news-item .news-date{
    width:25% !important;
    padding: 0 !important;
  }
  .announcement .news-intr{
    width:75% !important;
    padding: 0 10px !important;
  }
  .announcement .news-intr div{
    font-size: 16px !important;
    color: #323232 !important;
  }
  .readmore{
    font-size: 13px !important;
    color:#333 !important;
  }
  header{
    height: 56px;
  }
  .all-info-con {
    padding-bottom: 0 !important;
  }
  .news-list li {
    margin: 15px 0;
  }
  .module-title{
    margin-bottom: 0;
    padding: 0 15px;
    margin-top: 8px;
    background: #f3f3f3;
    border: 0;
  }
  .news-item + .news-item{
    margin-top: 0 !important;
  }
  .news-intr div{
    font-size: 13px !important;
    color:#999;
  }
  .module-title span{
    padding-left: 0 !important;
    font-weight: bold;
    border: 0;
    color:#ff931f !important;
    font-size: 15px !important;
  }
  .module-title i+span{
    padding: 0 !important;
  }
  .module-title .line{
    display: inline-block;
    width: 8px;
    height: 1.5px;
    line-height: 20px;
    background-color: #323232;
    margin: 0 2px;
    margin-bottom: 4px;
  }
  .col-sm-3,.col-sm-6,.col-sm-10{
    padding-left: 0 !important;
    padding-right: 0;
  }
  .news-intr{
    background: #fff !important;
    width:69% !important;
    padding-top: 20px !important;
  }
  .sh-news{
    background: #f3f3f3;
  }
  .sh-news .news-item{
    background: #fff;
    border-bottom: 1px dashed #ddd;
    padding: 5px;
    padding-bottom: 10px;
    padding-bottom: 15px;
    padding-top: 0;
  }
  .sh-news .news-item:last-child{
    border:0;
  }
  .news-item .news-date{
    width:31% !important;
    background: #fff;
    position: relative;
    padding-right: 0 !important;
  }
  .container{
    margin-top: 0 !important;
  }
  .swiper-container {
    height: 200px;
    overflow: hidden;
  }
  .swiper-wrapper .swiper-slide{
    height: 200px;
  }
  .swiper-container img{
    height: 200px;
    width: 100%;
  }
  .light-yellow,.more-menus{
    background-color: #fff5eb;
  }
  .light-yellow>a{color: #ff931f !important;}
  .modal-dialog li{
    overflow: hidden;
  }
  .more-menus{
    position: static;
    width: 100%;
    display: block;
  }
  .more-menus-list>li{
    width: 100%;
    padding-left: 35px;
  }
  body{
    background-color: #f3f3f3;
    font-family: "PingFang-SC-Medium","Microsoft YaHei","宋体","黑体",sans-serif;
  }
  .edu-con .edu-info span{
    font-size:14px !important;
  }
  .nj-qr-code{
    display: flex;
    justify-content: space-between;
  }
  .nj-qr-code img{
    margin:0 !important;
  }
  .center-xs{
    text-align:center;
  }
}
.edu-con .edu-img{
  line-height:76px;
  padding:0 10px;
  max-width:74px;
  display: inline-block;
}
.edu-con .edu-info span{
  width:100%;
  display:block;
  line-height:76px;
  text-align: center;
  font-size:23px;
  color:white;
  overflow:hidden;
  white-space: nowrap;
  transition: font-size .1s;
  -moz-transition: font-size .1s;
  -webkit-transition: font-size .1s;
  -o-transition: font-size .1s;
}
.edu-con:hover .edu-info span{
  font-size:26px;
  transition: font-size .1s;
  -moz-transition: font-size .1s;
  -webkit-transition: font-size .1s;
  -o-transition: font-size .1s;
}
.edu-con .edu-info{
  padding-left:83px;
  width:100%;
}
footer{
  position:relative;
  background:#f2f2f2;
  border-top:3px solid #ff931f;
}
.more-links{
  overflow: hidden;
  margin-bottom: 30px;
  background: #fff;
  height: 50px;
  line-height: 50px;
}
.more-links ul {
  overflow:hidden;
}
.more-links ul li{
  display:inline-block;
  line-height: 14px;
}
li.link-item{
  border-right: 1px solid #d7d7d7;
  padding-left: 0;
  padding-right:23px;
  margin-right: 20px;
}
.link-item{
  display:inline-block;
  padding:0 8px;
}
.more-links ul li:last-child{
  border-right:none;
}
.more-links ul li a{
  color:#333;
  cursor: pointer;
}
footer p{
  margin-bottom:8px
}
footer p:first-child{
  margin-bottom:0;
}

.menus-phone button {
  background: transparent;
  padding: 0;
  float: right;
  text-decoration: none;
  outline: none !important;
}
.menus-phone button i {
  font-size: 26px;
  color: #eee;
  padding: 9px 15px;
}
.menus-phone{
  overflow:hidden;
  padding:5px 0;
  z-index: 1041;
  height: 56px;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 3px solid #ff931f;
  background-color: #f6f6f6;
}
.menu-list{
  background:#ff931f;
  height:44px;
}

.menu-list .row{
  height:44px;
  overflow:hidden;
}
.menus-phone img{
  height: 36px;
  margin-top: 5px;
  margin-left: 15px;
}
#right-menu {
  width: 100%;
  height: auto;
  margin-top: 56px;
}
#right-menu .modal-dialog {
  background-color: #fff;
  height: 100%;
  width: 45.333%;
  margin: 0;
  float: right;
}
.right-menus .modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .1s ease-out;
  -o-transition: -o-transform .1s ease-out;
  transition: transform .1s ease-out;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}
.right-menus .modal.in .modal-dialog {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
#right-menu .modal-dialog a {
  color: #333;
  font-size: 15px;
  text-align: left;
  padding: 10px 0;
  font-weight: normal;
}
#right-menu .modal-dialog a.col-xs-12 {
  padding-left: 20px;
  background: #fff;
}
#right-menu .modal-dialog a.col-xs-12:hover {
  padding-left: 20px;
  background: #fff5eb;
}
.navigation-bar{
  padding-bottom:6px;
  padding-left: 0;
  border-bottom: 3px solid #ff931f;
}
.navigation-bar span{
  float:left;
  color:#666666;
  font-size:16px;
}
.breadcrumb>li{
  color:#666666;
  font-size:16px;
}
.breadcrumb{
  padding:0;
  margin:0;
  background-color:transparent;
}
.breadcrumb>li+li:before {
  content: ">";
  content: "";
}
.all-info-con {
  padding-bottom: 30px;
  margin-top: 35px;
}
.visit{
  margin-top: 5px;
  height: 20px !important;
}
.secondary-title{
  width:100%;
  background:#ff931f !important;
  padding:10px 0;
  color:white;
  font-size:22px;
  padding-left: 15px;
  letter-spacing: 1px;
}
.secondary-menu>ul>li>a{
  font-size: 14px;
  width:100%;
  display:block;
  line-height:20px;
  padding:12px 15px;
  background:#f9f9f9;
  border-bottom:1px dashed #e2e2e2;
  color:#505050;
  transition: background 0.2s,color 0.2s;
  -moz-transition: background 0.2s,color 0.2s;
  -webkit-transition: background 0.2s,color 0.2s;
  -o-transition: background 0.2s,color 0.2s;
}
.secondary-menu>.menus-toggle-list>li>a{
  font-size: 16px;
}
.recommendation-list{
  margin: 0;
}
.recommendation-list li{
  margin: 0;
}
.recommendation-list a{
  border:0 !important;
  padding: 8px 15px !important;
  padding-left: 45px !important;
  position: relative;
}
.recommendation-list a i{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  text-align: center;
  line-height:20px !important;
  color: #505050 !important;
  position: absolute !important;
  left: 15px;
  top: 8px !important;
  font-style: normal;
}
.recommendation-list li:first-child i{
  background-color: #ff5858;
  color: #fff !important;
}
.recommendation-list li:nth-child(2) i{
  background-color: #ff943d;
  color: #fff !important;
}
.recommendation-list li:nth-child(3) i{
  background-color: #ffb93e;
  color: #fff !important;
}
.recommendation-list li:first-child{
  padding-top: 10px !important;
  background:  #f9f9f9;
}
.recommendation-list li:last-child{
  padding-bottom: 10px !important;
  background:  #f9f9f9;
}
.secondary-menu>ul>li>a>i{
  font-size: 14px;
  line-height: 26px;
  color: #818181;
  float: right;
  position: relative;
  top: -3px;
  font-weight: bold;
}
.menus-toggle-list i{
  font-weight: normal !important;
}
.secondary-menu>ul>li:last-child>a{
  border-bottom:0;
}
.secondary-menu>ul>li>a:hover{
  color:#ff931f;
  cursor:pointer;
  transition: background 0.2s,color 0.2s;
  -moz-transition: background 0.2s,color 0.2s;
  -webkit-transition: background 0.2s,color 0.2s;
  -o-transition: background 0.2s,color 0.2s;
}
.secondary-menu>ul>li>a:hover i{
  color:#ff931f;
  cursor:pointer;
  transition: background 0.2s,color 0.2s;
  -moz-transition: background 0.2s,color 0.2s;
  -webkit-transition: background 0.2s,color 0.2s;
  -o-transition: background 0.2s,color 0.2s;
}
.secondary-menu>ul>li>a.active{
  color:#ff931f
}
.secondary-menu>ul>li>a.active i{
  color:#ff931f
}
.news-list-head{
  color:#ff931f;
  font-size:20px;
  padding:10px 0;
  border-bottom:1px solid #dedede
}
.navigation-bar span{
  font-size: 14px;
  color: #848484;
}
.all-news-list{
  padding-left: 30px;
}
.breadcrumb>li+li:before {
  padding: 0;
  color: #848484;
  font-size: 10px;
  position: relative;
  top: -2px;
  margin-right: 8px;
  margin-left: 2px;
}
.breadcrumb li{
  font-size: 14px;
  color: #848484;
}
.breadcrumb li:last-child{
  /* max-width:200px;
    white-space: nowrap;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden; */
}
.info-box {
  width:100%;
  padding:15px;
  position: relative;
  border: 1px solid #dddddd;
  box-shadow: 4px 4px 5px #f2f2f2;
  display: table;
  table-layout: fixed;
  margin-bottom:20px;
  background:white;
  transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
}
.info-box:hover{
  cursor:pointer;
  box-shadow: 4px 4px 5px #ddd;
  transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
}
.info-box-icon {
  width: 200px;
  height:132px;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  float: none;
  position: relative;
  background-color: #dddddd !important;
  table-layout: fixed;
  background-size:cover !important;
  display: inline-block;
  float: left;
}
.info-box-content {
  padding: 10px 10px 10px 220px;
  position: relative;
}
.info-box-content .info-title{
  font-size:16px;
  color:#505050;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.info-box-content .info-date{
  color:#999999
}
.info-box-content .info-detail{
  color:#666666;
}
.all-media-list{
  padding-top:20px;
}
.menus-toggle {
  display: block;
  float: right;
  width: 60px;
  height: 27px;
  border: 1px solid #666;
  line-height: 19px;
  text-align: center;
  border-radius: 3px;

}
.menus-toggle i {
  font-size: 10px;
  color: #666;
}
.load-more{
  display:block;
  width:100%;
  padding:16px 0;
  background:#dbe8f3;
  text-align: center;
  color:#ff931f !important;
  cursor:pointer;
  margin-bottom:30px;
  transition: background 0.2s;
  -moz-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
}
.load-more:hover{
  background:#cbe3f7;
  transition: background 0.2s;
  -moz-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
}
.article-con{
  box-shadow:4px 4px 5px #f2f2f2;
  background:white;
  margin:20px 0;
  padding:30px 20px;
}
.article-title{
  margin-bottom:20px;
}
.article-detail img{
  max-width:100%;
}
.article-date{
  color:#999999
}
.more-article{
  margin-bottom:25px;
}
.more-article a{
  display:block;
  margin:10px 0;
  color:#ff931f !important;
}
.nj-qr-code img{
  margin-left:30px;
}
.nj-qr-code{
  height:152px;
  overflow:hidden;
}
footer{
  padding-bottom:30px;
}


.info-box-icon.teacher{
  width:200px;
  height:200px;
  display: inline-block;
  float: left;
}
.info-box-content.teacher-con{
  height: 200px;
  padding: 10px 10px 10px 220px;
  position: relative;
}
.media-heading{
  margin-bottom:15px;
  font-weight:bold;
}
.info-detail.teacher-detail{
  height:160px;
  overflow:hidden;
}
.slider{
  min-width:1170px;
}
.latest-news, .more-info-con{
  /*  box-shadow: 1px 1px 6px rgba(204, 204, 204, 0.17); */
}
.child-list{
  display:none;
}
.list-open .child-list{
  display:block;
}
.child-list>li>a{
  border-left:1px solid #dedede;
  border-right:1px solid #dedede;
  background:#F5F9FD;
  display:block;
  padding:0 0 0 20px;
  border-bottom:0;
}
.child-list>li:last-child>a{
  border-bottom:1px solid #dedede  !important;
}
.child-list>li>a>span{
  display:block;
  width:100%;
  padding:12px 25px;
  border-bottom:1px solid #dedede;

}
.child-list>li>a>span:hover{
  color:#ff931f;
}
.child-list>li:last-child>a>span{
  border-bottom:0 !important;
}
.child-list>li>a.active span{
  color:#ff931f;
}
.all-info-con{
  padding-bottom:30px;
}
.menus-toggle-list>li>a>i{
  transition: transform .5s;
  -moz-transition: -moz-transform .2s;
  -webkit-transition: -webkit-transform .2s;
  -o-transition: -o-transform .2s;
  line-height:20px;
  font-size:18px;
}
.list-open>a>i{
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: transform .2s;
  -moz-transition: -moz-transform .2s;
  -webkit-transition: -webkit-transform .2s;
  -o-transition: -o-transform .2s;
}
.default-title{

  display:block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  color:white;
  font-size:26px;
  line-height:250px;
  padding:15px;
}
/*更多链接。。。。。。。start*/
.more-links-con{
  background:transparent;
  box-shadow:none !important;

}
.more-links-con .title{
  border-bottom:0;
  padding-bottom:2px;
}
.links-list-con{
  overflow:hidden;
}
.links-list-con .links-con .link-con img{
  height:30px;
  width:30px;
  margin-right:5px;
  position:relative;
  margin-top:-3px;

}
.links-list-con .links-con{
  width:20%;
  padding:8px;
  float:left;
}
.links-list-con .links-con .link-con{
  border: 1px solid #eee;
  background: #FCFCFC;
  box-shadow: 1px 1px 6px rgba(204, 204, 204, 0.17);
  text-align: center;
  height:48px;
  line-height:46px;
  vertical-align: middle;
  transition: background 0.2s;
  -moz-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
}
.links-list-con .links-con .link-con:hover{
  cursor:pointer;
  background:#f5f5f5;
  transition: background 0.2s;
  -moz-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
}
.fast-links-list{
  padding:8px 10px;
}
.fast-links{
  overflow: hidden;
  background: white;
  border: 1px solid #eee;
  padding: 1px 0;
  box-shadow: 1px 1px 6px rgba(204, 204, 204, 0.17);
}
.fast-links .fast-link{
  width:33.333333%;
  float:left;
  text-align: center;
  padding:15px 9px;
}
.fast-links .fast-link div:hover{
  cursor:pointer;
}
.fast-links .fast-link img{
  width:30px;
  height:30px;
  margin-bottom:6px;
}
.fast-links .fast-link p{
  margin:0;
}
.nj-xq{
  display:block;
  float:left;
  width:150px;
  height:100%;
}
.nj-xq img{
  padding:22px 0;
  height:100%;
}
/*更多链接。。。。。。。end*/
footer .school-logo>img{
  padding:0;
}


.copyright p{
  color:#919191;
  line-height: 22px;
}
.copyright p span{
  color:#919191;
}

.code img{
  width:98px;
  height:98px;
}
@media screen and (min-width: 768px){
  .sh-address{
    margin-right: 20px;
  }
  .copyright{
    padding-left: 50px;
    position: relative;
    height:98px;
  }
  .copyright>div{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
  }
}
@media screen and (max-width: 767px){
  .flex{
    margin-top: 0 !important;
  }
  .copyright{
    padding-bottom: 30px;
  }
  footer{
    background-color: #e5e5e5;
  }
  footer p,footer span{
    text-align: center;
    font-size: 12px;
    margin: 0 !important;
  }
  footer .school-logo{
    text-align: center;
    height: 80px;
    line-height: 80px;
    padding: 0;
    background-color: #e5e5e5;
    width: 100%;
  }
  footer .school-logo img{
    width: 70%;
    margin: 0 !important;
    display: inline;
    position: static;
    transform: none;
    max-height: 60px;
  }
  .more-links{
    margin-bottom:20px
  }
  .visible-xs.links-xs {
    display: inline-block !important;
  }
  footer p:first-child{
    text-align: center;
  }


  .info-detail.teacher-detail{
    height:60px;
    overflow:hidden;
  }
  .info-box-icon.teacher{
    width:120px;
    height:120px;
  }
  .info-box-content.teacher-con{
    height: 120px;
    padding: 10px 10px 10px 140px;
    position: relative;
  }
  footer{
    margin-top:15px;
    padding-bottom:0;
    padding-top:0;
  }
  .edu-con{
    width:48%;
  }
  .edu-con .edu-info{
    padding-left:0;
    height:76px;
    overflow:hidden;
  }
  .school-edu-list{
    padding:0 10px;
  }
  .edu-con{
    margin:1%
  }

  .all-info-con{
    margin-top:56px;

  }
  .latest-news{
    margin-top:25px;
  }
  .info-box-phone{
    padding:0;
  }
  .all-media-list{
    padding-top:15px
  }
  .info-box-icon{
    width:130px;
    height:94px;
    display: inline-block;
    float: left;
  }
  .info-box-content{
    height: 94px;
    padding: 10px 10px 10px 140px;
    position: relative;
  }
  .secondary-title{
    color: #ff931f;
    font-size: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #dedede;
    background:transparent;
    text-align: left;
  }
  .secondary-menu{
    margin-top:20px;
  }
  .menus-toggle-list{
    display:none;
  }
}
.carousel-indicators li{
  background-color: #D8D8D8;
  border: 0;
  width:10px;
  height: 10px;
  margin:0 5px;
}
.carousel-indicators .active{
  border: 0;
  background-color: #ff931f;
  width:10px;
  height: 10px;
  margin:0 5px;
}
.sh-title{
  width:auto !important;
  color:#333 !important;
  font-size: 20px !important;
  letter-spacing: 1px;
  display: inline-block;
  height:20px;
  line-height:19px;
  border-left: 5px solid #ff931f;
  padding-left: 10px !important;
}
.readmore{
  font-size: 14px;
  color: #a6a6a6;
  float:right;
  font-weight: normal !important;
}
.readmore i{
  color: #ff8c1f !important;
  font-size: 9px;
  position: relative;
  top: -2px;
}
/*校园新闻*/
.news-date{
  width: 13%;
  height: 88px;
  overflow: hidden;
  float: left;
  background-color: #ff931f;
  padding: 10px !important;
  padding-top: 15px !important;
}
.news-date:hover{
  cursor: pointer;
}
.news-date p:first-child{
  font-size: 32px;
  line-height:32px;
  font-weight: normal;
  margin-bottom: 5px;
  text-align: center !important;
  color: #fff;
  font-weight: bold !important
}
.news-date p:last-child{
  font-size: 14px;
  color: #ffffff;
  text-align: center !important;
  margin-bottom: 0;
}
.news-intr{
  display: inline-block;
  width: 87%;
  height: 88px;
  overflow: hidden;
  float: left;
  padding: 10px;
  background-color: #f6f6f6;
  padding-top: 15px;
}
.news-intr .content{
  color: #848484 !important;
  text-align: justify;
}
.news-intr .time,.news-intr .time span{
  color: #a6a6a6;
}
.news-intr p,.news-intr a{
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #505050;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.news-intr p:hover{
  color: #ff931f;
}
.news-intr div:first-child{
  font-size: 14px;
  color: #a6a6a6;
  height:40px;
  overflow:hidden;
  /* white-space: nowrap;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; */
}
.text_overflow{max-height: 30px;}
p{margin: 0;}
.sh-news{
  overflow: hidden;
}
.news-item{
  overflow: hidden;
}
.news-item + .news-item{
  margin-top: 20px;
}
a:focus,a:hover{
  color:#ff931f;
}
.menu-list-con>li>a:hover{
  background-color: #ff7e00;
}
/*通知公告*/
.announcement .news-date{
  width: 25%;
  height: 50px;
  overflow: hidden;
  float: left;
  background-color: #fff;
  padding:0 !important;
}
.announcement .news-date p:first-child{
  font-size: 26px;
  font-weight: normal;
  line-height: 26px;
  color: #a6a6a6;
  margin-bottom: 2px;
  margin-top: 3px;
  text-align: center !important;
}
.announcement .news-date p:last-child{
  font-size: 12px;
  color: #a6a6a6;
  text-align: center !important;
  margin-bottom: 0;
}
.announcement .news-intr{
  display: inline-block;
  width: 75%;
  height: 50px;
  overflow: hidden;
  float: left;
  padding:0 10px;
  background-color: #fff;
  border-left: 1px solid #ddd;
}
.announcement .news-intr p{
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #505050;
  margin-bottom: 8px;
}
.announcement .news-intr div{
  font-size: 14px;
  line-height: 25px;
  color: #505050;
  height: 50px;
}
.announcement .news-intr div:hover{
  cursor: pointer;
  color: #ff931f;
}
.announcement .sh-news{
  overflow: hidden;
}
.announcement .news-item{
  overflow: hidden;
}
.news-item + .news-item{
  margin-top: 30px;
}

.sh-app li{
  float: left;
  width:33.3333%;
  padding: 10px 10px 0 10px;
  cursor: pointer;
  box-sizing: border-box;
}
.sh-app li:nth-child(1),.sh-app li:nth-child(2),.sh-app li:nth-child(3){
  padding-top: 0;
  margin-bottom: 15px;
}
.sh-app li p{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5px;
  width: 65px !important;
  color: #505050;
  font-size: 14px;
}
.sh-app img{
  width: 45px;
  transition:all linear .2s;
}
.sh-app li:hover img{
  -webkit-transform: scale(1.1,1.1);
  -moz-transform:scale(1.1,1.1);
  -o-transform:scale(1.1,1.1);
  transform: scale(1.1,1.1);
}
.more-links li:first-child{color:#505050;font-weight: bold;}
.more-links li{color:#505050;}
.school-logo img{
  width:340px;
  height: auto !important;
}
.slide-title{
  text-align: right;
  z-index: 999;
  position: absolute;
  bottom: 70px;
  color: #fff;
  left: 50%;
  transform: translate(-50%,0);
}
.slide-title span{
  background-color: rgba(0, 0, 0, 0.65);
  display: inline-block;
  height:50px;
  line-height:50px;
  color: #fff;
  font-size: 24px;
  padding: 0 26px;
}
.toggle-bar{
  width:40px;
}
header button{
  margin-top: 7px;
  margin-right: 15px;
}
header button img{
  width: auto !important;
  height: 14px !important;
  margin: 0;
}
.scale-xs{
  padding-bottom: 67.6%;
  width: 100%;
  height:100%;
  position: relative;
}
.scale-xs>img{
  width: 100%;
  height: 100% !important;
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%,-50%) !important;
  -moz-transform: translate(-50%,-50%) !important;
  -o-transform: translate(-50%,-50%) !important;
  transform: translate(-50%,-50%) !important;
}

.scale-teacher{
  /* padding-bottom: 64.7%; */
  width: 100%;
  height:100%;
  position:relative;
  margin: 0 auto;
}
.scale-teacher>img{
  width: 100%;
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%,-50%) !important;
  -moz-transform: translate(-50%,-50%) !important;
  -o-transform: translate(-50%,-50%) !important;
  transform: translate(-50%,-50%) !important;
}

.static-banner{
  height: 288px;
  overflow: hidden;
}
.static-banner img{
  height: 288px !important;
}
.fr{float: right;}
.flex input{
  width: 46px;
  height: 28px;
  border-radius: 3px;
  border: solid 1px #e1e1e1;
  margin: 0 5px;
  text-align: center;
}
.pagination>li>a, .pagination>li>span {
  color: #505050;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #fff;
  border-color: #e1e1e1;
  color: #ff931f;
}
.latest-recommendation{
  margin-top: 20px;
  color: #424242 !important;
  background-color: #f9f9f9 !important;
  padding: 12px 15px;
  padding-bottom: 4px;
}
.latest-recommendation .secondary-title{
  background-color: #f9f9f9;
  font-size: 22px;
  line-height: 33px;
}
.latest-recommendation span{
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 1px;
  color: #424242;
  display: inline-block;
  width: 100%;
  border-bottom: 3px solid #ffa545;
  padding-bottom: 5px;
}
.go{
  height: 28px;
  line-height: 28px;
  padding: 0 !important;
  width: 40px;
  text-align: center;
  border: 0;
  font-size: 13px;
  background: #eee;
  color: #505050;
}
.module-title i{
  font-style: normal;
  color: #323232;
}
.noMore{
  text-align: center;
  color: #999999;
  margin: 15px 0;
}
.news-title{
  padding: 20px 0;
  border-bottom:1px dashed #e2e2e2;
}
.news-title p{
  text-align: center;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1px;
  color: #424242;
  margin-bottom: 20px;
}
.news-title .news-info{
  text-align: center;
}
.news-title .news-info li,.news-title .news-info span{
  font-size: 14px;
  line-height: 18px;
  color: #a6a6a6;
}
.news-content{
  padding:20px 0;
  font-size: 16px;
  line-height: 34px;
  color: #5e5e5e;
  text-indent: 35px;
}
.news-content p{
  margin-bottom: 20px;
  text-align: justify;
}
.img-list{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img-list li{
  float: left;
  width: 31%;
  background-color: rgba(255, 255, 255, 0.96);
  border: solid 1px rgba(221, 221, 221, 0.96);
  opacity: 0.96;
  padding: 13px;
  padding-bottom: 0;
  margin-bottom: 40px;
  position: relative;
  transition:all linear .2s;
}
.img-list li img{
  width: 100%;
  height:171px;
}
.sh-imgs{
  padding:20px 0;
}
.img-list li .inner{
  position: absolute;
  width: 100.7%;
  height: 5px;
  bottom: -5px;
  left: -1px;
  border: solid 1px rgba(221, 221, 221, 0.96);
  border-top: 0;
  transition:all linear .2s;
}
.img-list li .outer{
  position: absolute;
  width: 100.7%;
  height: 5px;
  bottom: -9px;
  left: -1px;
  border: solid 1px rgba(221, 221, 221, 0.96);
  border-top: 0;
  transition:all linear .2s;
}
.img-title{
  float: left;
  font-size: 16px;
  color: #505050;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.img-no{
  font-size: 14px;
  color: #848484;
  float: right;
}
.album{
  position: relative;
  z-index: 2;
}
.album .album-img{
  position: relative;
  cursor:pointer;
}
.album .album-img a{
  display: inline-block;
}
.album-footer{
  height: 49px;
  line-height: 49px;
  padding: 0 10px;
}
.img-cover{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 32px;
  line-height: 32px;
  background-color: rgba(0, 0, 0, 0.76);
  text-align: right;
  color:#fff;
  font-size: 18px;
  padding: 0 15px;
}
.img-cover span{
  color:#fff;
  font-size: 13px;
  margin-left: 2px;
}
.album .fa-eye{
  color: #848484;
  margin-right: 5px;
}
.t-name{
  font-size:19px;
}
.t-role:before{
  content:'';
  display: inline-block;
  width: 1px;
  border-left: 1px solid #ddd;
  height: 16px;
  margin: 0 10px;
  position: relative;
  top: 2px;
}
.code{
  float: right;
  margin-right: 25px;
}
.modal-dialog .more-menus{
  display: none;
}
.breadcrumb{
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.pagination>li>a, .pagination>li>span {
  border: 0;
}
.app-table{
  width: 100%;
  background-color: #f3f3f3;
}
.app-table td{
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  padding-top: 0;
  width: 33.33333%;
}
.app-table td img{
  width:41.7%;
}
.app-table td div{
  width:100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px !important;
}
.app-table td div p:first-child{
  margin-top: 11%;
  margin-bottom: 8%;
}
.app-table td div p:last-child{
  font-size: 13px;
  line-height: 15px;
  color: #424242;
  padding: 0 5px;
  text-align: center;
  margin: 0;
}
.app-lists{
  padding: 0 8px;
  background-color: #f3f3f3;
}
.pages{
  font-size: 13px;
  color: #848484;
  margin-top: 30px;
}
.hidden{
  display: none;
}
div.ps-caption{
  border:0 !important;
}
.el-pager li {
  min-width: 23px;
}
.el-pagination__jump {
  margin-left: 10px;
}
